.b-tutorialpanel {
    display     : flex;
    flex        : 1;
    overflow    : hidden;
    font-family : Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;

    &, * {
        box-sizing : border-box;
    }

    code {
        font-family : 'Source Code Pro', monospace;
    }

    &.b-typing,
    code:not(.b-started) {
        .b-line:not(.b-current-line) * {
            display : none;
        }
    }

    .code-wrap {
        position         : relative;
        width            : 50%;
        flex             : 1 1 50%;
        display          : flex;
        flex-direction   : column;
        overflow         : hidden;
    }

    pre {
        margin          : 0;
        height          : 100%;
        overflow        : auto;
        display         : flex;
        line-height     : 1.5em;
        font-size       : 16px;
        cursor          : pointer;
        scrollbar-width : none;

        &::-webkit-scrollbar {
            display : none; /* Safari and Chrome */
        }

        .b-line:not(:first-child) {
            display : none;
        }

        .b-line {
            position : relative;

            &.b-meta {
                display : none !important;
            }
        }

        code {
            padding   : 1em;
            outline   : none;
            min-width : 0;
            cursor    : text;
            flex      : 1;

            &:not(.b-editable) {
                pointer-events : none;
            }

            &.b-started.b-idle {
                pointer-events : all;
            }

            .b-line {
                &.b-line-visible {
                    display : block !important;
                }

                * {
                    cursor : text;
                }
            }
        }
    }

    .b-fiddle-title {
        position                : absolute;
        display                 : flex;
        left                    : 4em;
        bottom                  : -1px;
        align-items             : center;
        height                  : 80%;
        align-self              : end;
        padding                 : 0.5em 1em;
        border                  : 1px solid;
        border-color            : inherit;
        border-bottom-color     : #fff;
        background              : #fff;
        border-top-left-radius  : 4px;
        border-top-right-radius : 4px;
        font-size               : .8em;
        color                   : #666;
    }

    .b-line-numbers {
        counter-reset       : line 0;
        height              : 100%;
        display             : flex;
        flex-direction      : column;
        width               : 2.7em;
        -webkit-user-select : none;
        padding             : 1em 0.5em;

        .b-line {
            justify-content : flex-end;
            align-items     : center;

            &.b-line-visible {
                display : flex !important;
            }

            input {
                height            : 1.5em;
                counter-increment : line;
                cursor            : pointer;
            }
        }

        .b-line {
            height : 1.5em;
        }

        .b-line:not(.hint):after {
            display           : flex;
            counter-increment : line;
            content           : counter(line);
            cursor            : pointer;
            justify-content   : flex-end;
        }
    }

    .b-codepanel-splitter {
        display         : flex;
        flex            : 0 0 0.2em;
        align-items     : center;
        justify-content : center;
        z-index         : 2;
        position        : relative;
        transition      : filter 0.2s;
        height          : 100%;
        transition      : border .3s, background .3s;

        .b-splitter-grip {
            display         : flex;
            flex-direction  : column;
            border-radius   : 50%;
            align-items     : center;
            justify-content : center;
            height          : 3em;
            width           : 3em;

            i {
                display         : flex;
                align-items     : center;
                justify-content : center;
                filter          : brightness(130%);
                padding         : 1em;
            }
        }
    }

    .b-code-toolbar {
        display     : flex;
        padding     : .6em;
        overflow    : hidden;
        user-select : none;
        font-size   : 0.85em;
        align-items : center;

        :first-child {
            margin-left  : 0;
            margin-right : auto;
        }

        > * {
            cursor      : pointer;
            margin-left : 0.5em;
            padding     : 0.3em;
            white-space : nowrap;
        }

        .b-line-count {
            min-width  : 5em;
            text-align : right;
        }

        .run {
            .b-fa-play {
                margin-right : .5em;
            }
        }

        .b-fa-exclamation-triangle {
            display : none;
            color   : red;
        }

        .b-fa-circle-notch {
            display : none;
            margin  : 0;
        }
    }

    &.b-typing .b-fa-play:before {
        content : "ïŒ";
    }

    .b-codepanel-result {
        display         : flex;
        flex            : 1 1 50%;
        width           : 50%;
        padding         : 3em;
        background-size : 15px;
        overflow        : auto;
        position        : relative;
        background-size : 1em 1em;

        // Error message
        &:after {
            position      : absolute;
            bottom        : -40px;
            right         : 0;
            content       : attr(data-error);
            color         : red;
            background    : #000;
            padding       : 0.5em 1em;
            border-radius : 3px;
        }
    }

    @keyframes blink {
        0% {
            border : 0;
        }
        100% {
            border : 1px solid #fff;
        }
    }

    &.b-typing code {
        pointer-events: none !important;

        .b-line:not(.b-current-line) {
            display : none;
        }
    }

    code * {
        transition : opacity 0.3s, color 0.2s;
    }

    code.b-typing > :not(.b-current) {
        opacity : 0.8;
    }

    code.b-idle:not(.b-started) .b-line:first-child:after {
        display   : block;
        position  : relative;
        content   : ' ';
        border    : 1px solid #fff;
        width     : 0.6em;
        height    : 1em;
        top       : 0.2em;
        animation : blink 1.2s infinite linear;
    }

    .b-current-line {
        display : block;

        i.b-icon {
            display         : inline-flex;
            padding         : 0;
            align-items     : center;
            line-height     : 1em;
            justify-content : center;
            margin-left     : 0.5em;
        }
    }

    .b-current-line *:not(i):not(.b-current) {
        display : none;
    }

    &:not(.b-loading) .b-current {
        opacity      : 1;
        border-right : 1px solid #fff;
    }

    .b-idle .b-current {
        border-left   : 0 !important;
        border-bottom : 0 !important;
        border-top    : 0 !important;
        animation     : blink 1.2s infinite linear;
    }

    &:not(.b-vertical) {
        .code-wrap,
        .b-codepanel-result {
            @media (max-width: 1000px) {
                min-height : 10%;
                max-height : 90%;
            }

            @media (min-width: 1000px) {
                min-width : 10%;
                max-width : 90%;
            }
        }
    }

    &:not(.b-vertical) {
        max-width : 100%;
    }

    @media (max-width : 600px) {
        .b-line-numbers {
            display : none;
        }
    }

    &.b-error .b-fa-exclamation-triangle,
    &.b-loading .b-fa-circle-notch {
        display : block;
    }

    &.b-error .b-codepanel-result > * {
        box-shadow : 0px 3px 10px red;
    }
}

@media (min-width : 1000px) {
    .code-wrap,
    .b-codepanel-result {
        height : 100%;
    }

    .b-codepanel-splitter {
        cursor : ew-resize;
    }
}

@media (max-width : 1000px) {
    .b-tutorialpanel {
        flex-direction : column;

        .b-codepanel-splitter {
            cursor : ns-resize;
        }

        .code-wrap,
        .b-codepanel-result {
            width : 100% !important;
        }
    }
}

.b-fa-arrows-alt-h {
    transition : transform .4s;
}

.b-tutorialpanel.b-vertical {
    flex-direction : column;

    .b-codepanel-splitter {
        height    : 5px;
        width     : 100%;
        max-width : 100%;
        cursor    : ns-resize;
    }

    .b-fa-arrows-alt-h {

        transform : rotate(90deg);
    }

    .code-wrap,
    .b-codepanel-result {
        width : 100% !important;
    }
}

.b-top-toolbar {
    padding     : 0.7em;
    display     : flex;
    align-items : center;
    position    : relative;

    .b-fa-expand {
        margin-left : auto;
        color       : #bcddf7;
        opacity     : 0.4;
        transition  : opacity 0.3s;
        cursor      : pointer;
        font-size   : 18px;
        line-height : 20px;
        height      : 20px;
        width       : 20px;
        text-align  : right;

        &:hover {
            opacity : 1;
        }
    }

    .b-js {
        width           : 2em;
        height          : 2em;
        background      : #f6df1c;
        color           : #000;
        font-size       : 10px;
        font-weight     : bold;
        border-radius   : 3px;
        display         : flex;
        align-items     : flex-end;
        justify-content : end;
        padding         : 0.2em;
        line-height     : normal;
        z-index         : 2;
        font-style      : normal;
    }
}

// region Light Theme
.code-wrap {
    background : #fff;
}

.b-tutorialpanel.b-vertical .b-codepanel-splitter {
    height     : 0;
    max-height : 0;
    width      : 100%;
}

pre {
    color : #000;

    .keyword {
        color       : rgb(8, 57, 181);
        font-weight : bold;
    }

    .comment,
    .block-comment,
    .comment .keyword,
    .comment .string {
        color : #90a4ae;
    }

    .curly {
        color : #ffe0b2;
    }

    .string,
    .string .keyword {
        color : brown;
    }

    .number,
    .number .keyword {
        color : rgb(8, 57, 181);
    }

    .tag {
        color : #a5d6a7;
    }
}

.b-top-toolbar {
    background    : #fff;
    border-bottom : 1px solid;
    border-color  : #dfdfdf;

    .b-fa {
        color : #888;
    }
}

.b-line-numbers {
    // TODO make it stretch to be able to apply bg color
    //background : #fafafa;

    .b-line:not(.hint):after {
        color : #aaa;
    }
}

.b-codepanel-splitter {
    max-width : 0;

    &:hover {
        background : #eee;
    }
}

.b-splitter-grip {
    background : #fff;
    border     : 1px solid #eee;
    transition : border .4s;

    &:hover {
        border : 3px solid #eee;

        i {
            filter : brightness(95%);
        }
    }

    i {
        color : #aaa;
    }
}

.b-codepanel-result {
    background-color : #fff;
    background-image : linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
    box-shadow       : inset 0 0 .5em #ddd;

    > * {
        box-shadow : 0 3px 10px #ddd;
    }
}

.b-code-toolbar {
    border-top : 1px solid #eee;
    color      : #aaa;
}

// endregion


// region Dark Theme
.b-dark {
    .b-line-numbers {
        background : #00000022;
    }

    .code-wrap {
        background-color : #0d2e4e;
    }

    pre {
        color : #fff;

        .comment,
        .block-comment,
        .comment .keyword,
        .comment .string {
            color : #90a4ae;
        }

        .keyword {
            color : #ffb74d;
        }

        .curly {
            color : #ffe0b2;
        }

        .string,
        .string .keyword {
            color : #489eea;
        }

        .number,
        .number .keyword {
            color : #feac31;
        }

        .tag {
            color : #a5d6a7;
        }
    }

    .b-top-toolbar {
        background    : #0d234e;
        border-bottom : none;
    }

    .b-codepanel-splitter {
        width      : 3px;
        background : #06476f;
    }

    .b-splitter-grip {
        background : #0d2e4e;
        border     : 3px solid #06476f;

        i {
            color : #305073;
        }
    }

    .b-line {
        &:hover:after {
            color : #fff;
        }

        .b-line:not(.hint):after {
            color : rgba(255, 255, 255, 0.25);
        }
    }

    .b-codepanel-result {
        background-color : #000;
        background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAHlBMVEUAAABkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGSH0mEbAAAACnRSTlMAzDPDPPPYnGMw2CgMzQAAAChJREFUKM9jgAPOAgZMwGIwKkhXQSUY0BCCMxkEYUAsEM4cjI4fwYIAf2QMNbUsZjcAAAAASUVORK5CYII=');
        box-shadow       : none;

        > * {
            box-shadow : 0 3px 10px #000;
        }
    }

    .b-code-toolbar {
        background : rgba(255, 255, 255, 0.1);
        color      : rgba(255, 255, 255, 0.5);
    }
}

// endregion
