@charset "UTF-8";
.b-tutorialpanel {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.b-tutorialpanel, .b-tutorialpanel * {
  box-sizing: border-box;
}
.b-tutorialpanel code {
  font-family: "Source Code Pro", monospace;
}
.b-tutorialpanel.b-typing .b-line:not(.b-current-line) *,
.b-tutorialpanel code:not(.b-started) .b-line:not(.b-current-line) * {
  display: none;
}
.b-tutorialpanel .code-wrap {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #0d2e4e;
}
.b-tutorialpanel pre {
  color: #fff;
  margin: 0;
  height: 100%;
  overflow: auto;
  display: flex;
  line-height: 1.5em;
  font-size: 14px;
  cursor: pointer;
}
.b-tutorialpanel pre .b-line:not(:first-child) {
  display: none;
}
.b-tutorialpanel pre .b-line {
  position: relative;
}
.b-tutorialpanel pre .b-line.b-meta {
  display: none !important;
}
.b-tutorialpanel pre code {
  padding: 1em;
  outline: none;
  min-width: 0;
  cursor: text;
  flex: 1;
}
.b-tutorialpanel pre code:not(.b-editable) {
  pointer-events: none;
}
.b-tutorialpanel pre code.b-started.b-idle {
  pointer-events: all;
}
.b-tutorialpanel pre code .b-line.b-line-visible {
  display: block !important;
}
.b-tutorialpanel pre code .b-line * {
  cursor: text;
}
.b-tutorialpanel pre .comment,
.b-tutorialpanel pre .block-comment,
.b-tutorialpanel pre .comment .keyword,
.b-tutorialpanel pre .comment .string {
  color: #90a4ae;
}
.b-tutorialpanel pre .keyword {
  color: #ffb74d;
}
.b-tutorialpanel pre .curly {
  color: #ffe0b2;
}
.b-tutorialpanel pre .string,
.b-tutorialpanel pre .string .keyword {
  color: #489eea;
}
.b-tutorialpanel pre .number,
.b-tutorialpanel pre .number .keyword {
  color: #feac31;
}
.b-tutorialpanel pre .tag {
  color: #a5d6a7;
}
.b-tutorialpanel .b-line-numbers {
  counter-reset: line 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 2.7em;
  -webkit-user-select: none;
  padding: 1em 0.5em;
}
.b-tutorialpanel .b-line-numbers .b-line {
  justify-content: flex-end;
  align-items: center;
}
.b-tutorialpanel .b-line-numbers .b-line:hover:after {
  color: #fff;
}
.b-tutorialpanel .b-line-numbers .b-line.b-line-visible {
  display: flex !important;
}
.b-tutorialpanel .b-line-numbers .b-line input {
  height: 1.5em;
  counter-increment: line;
  cursor: pointer;
}
.b-tutorialpanel .b-line-numbers .b-line {
  height: 1.5em;
}
.b-tutorialpanel .b-line-numbers .b-line:not(.hint):after {
  display: flex;
  counter-increment: line;
  content: counter(line);
  color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  justify-content: flex-end;
}
.b-tutorialpanel .b-codepanel-splitter {
  background: #305073;
  flex: 0 0 0.4em;
}
.b-tutorialpanel .b-code-toolbar {
  display: flex;
  padding: 0.6em;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  user-select: none;
  font-size: 0.85em;
  align-items: center;
}
.b-tutorialpanel .b-code-toolbar :first-child {
  margin-left: 0;
  margin-right: auto;
}
.b-tutorialpanel .b-code-toolbar > * {
  cursor: pointer;
  margin-left: 0.5em;
  padding: 0.3em;
  white-space: nowrap;
}
.b-tutorialpanel .b-code-toolbar > :hover {
  color: rgba(255, 255, 255, 0.8);
}
.b-tutorialpanel .b-code-toolbar .b-line-count {
  min-width: 5em;
  text-align: right;
}
.b-tutorialpanel .b-code-toolbar .run {
  color: rgba(255, 255, 255, 0.8);
}
.b-tutorialpanel .b-code-toolbar .run:hover {
  color: #fff;
}
.b-tutorialpanel .b-code-toolbar .b-fa-exclamation-triangle {
  display: none;
  color: red;
}
.b-tutorialpanel .b-code-toolbar .b-fa-circle-notch {
  display: none;
  margin: 0;
}
.b-tutorialpanel.b-typing .b-fa-play:before {
  content: "";
}
.b-tutorialpanel .b-codepanel-result {
  display: flex;
  height: 100%;
  width: 50%;
  padding: 3em;
  background-color: #000;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAHlBMVEUAAABkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGSH0mEbAAAACnRSTlMAzDPDPPPYnGMw2CgMzQAAAChJREFUKM9jgAPOAgZMwGIwKkhXQSUY0BCCMxkEYUAsEM4cjI4fwYIAf2QMNbUsZjcAAAAASUVORK5CYII=");
  background-size: 15px;
  overflow: auto;
  position: relative;
}
.b-tutorialpanel .b-codepanel-result > * {
  box-shadow: 0px 3px 10px #000;
}
.b-tutorialpanel .b-codepanel-result:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: attr(data-error);
  color: red;
  background: #000;
  padding: 0.5em 1em;
  border-radius: 3px;
}
@keyframes blink {
  0% {
    border: 0;
  }
  100% {
    border: 1px solid #fff;
  }
}
.b-tutorialpanel.b-typing code {
  pointer-events: none !important;
}
.b-tutorialpanel.b-typing code .b-line:not(.b-current-line) {
  display: none;
}
.b-tutorialpanel code * {
  transition: opacity 0.3s, color 0.2s;
}
.b-tutorialpanel code.b-typing > :not(.b-current) {
  opacity: 0.8;
}
.b-tutorialpanel code.b-idle:not(.b-started) .b-line:first-child:after {
  display: block;
  position: relative;
  content: " ";
  border: 1px solid #fff;
  width: 0.6em;
  height: 1em;
  top: 0.2em;
  animation: blink 1.2s infinite linear;
}
.b-tutorialpanel .b-current-line {
  display: block;
}
.b-tutorialpanel .b-current-line i.b-icon {
  display: inline-flex;
  padding: 0;
  align-items: center;
  line-height: 1em;
  justify-content: center;
  margin-left: 0.5em;
}
.b-tutorialpanel .b-current-line *:not(i):not(.b-current) {
  display: none;
}
.b-tutorialpanel:not(.b-loading) .b-current {
  opacity: 1;
  border-right: 1px solid #fff;
}
.b-tutorialpanel .b-idle .b-current {
  border-left: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  animation: blink 1.2s infinite linear;
}
@media (max-width: 1000px) {
  .b-tutorialpanel .code-wrap,
.b-tutorialpanel .b-codepanel-result {
    min-height: 10%;
    max-height: 90%;
  }
}
@media (min-width: 1000px) {
  .b-tutorialpanel .code-wrap,
.b-tutorialpanel .b-codepanel-result {
    min-width: 10%;
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .b-tutorialpanel .b-line-numbers {
    display: none;
  }
}
.b-tutorialpanel.b-error .b-fa-exclamation-triangle, .b-tutorialpanel.b-loading .b-fa-circle-notch {
  display: block;
}
.b-tutorialpanel.b-error .b-codepanel-result > * {
  box-shadow: 0px 3px 10px red;
}

@media (min-width: 1000px) {
  .code-wrap,
.b-codepanel-result {
    height: 100%;
  }

  .b-codepanel-splitter {
    cursor: ew-resize;
  }
}
@media (max-width: 1000px) {
  .b-tutorialpanel {
    flex-direction: column;
  }
  .b-tutorialpanel .b-codepanel-splitter {
    cursor: ns-resize;
  }
  .b-tutorialpanel .code-wrap,
.b-tutorialpanel .b-codepanel-result {
    width: 100% !important;
  }
}

/*# sourceMappingURL=tutorialpanel.css.map */
