.b-tutorialpanel {
    display          : flex;
    flex             : 1;
    height           : 100%;
    overflow         : hidden;

    &, * {
        box-sizing : border-box;
    }

    code {
        font-family : 'Source Code Pro', monospace;
    }

    &.b-typing,
    code:not(.b-started) {
        .b-line:not(.b-current-line) * {
            display : none;
        }
    }

    .code-wrap {
        position       : relative;
        width          : 50%;
        height         : 100%;
        display        : flex;
        flex-direction : column;
        overflow       : hidden;
        background-color : #0d2e4e;
    }

    pre {
        color       : #fff;
        margin      : 0;
        height      : 100%;
        overflow    : auto;
        display     : flex;
        line-height : 1.5em;
        font-size   : 14px;
        cursor      : pointer;

        .b-line:not(:first-child) {
            display : none;
        }

        .b-line {
            position : relative;

            &.b-meta {
                display : none !important;
            }
        }

        code {
            padding   : 1em;
            outline   : none;
            min-width : 0;
            cursor    : text;
            flex      : 1;

            &:not(.b-editable) {
                pointer-events : none;
            }

            &.b-started.b-idle {
                pointer-events : all;
            }

            .b-line {
                &.b-line-visible {
                    display : block !important;
                }

                * {
                    cursor : text;
                }
            }
        }

        .comment,
        .block-comment,
        .comment .keyword,
        .comment .string {
            color : #90a4ae;
        }

        .keyword {
            color : #ffb74d;
        }

        .curly {
            color : #ffe0b2;
        }

        .string,
        .string .keyword {
            color : #489eea;
        }

        .number,
        .number .keyword {
            color : #feac31;
        }

        .tag {
            color : #a5d6a7;
        }
    }

    .b-line-numbers {
        counter-reset       : line 0;
        height              : 100%;
        display             : flex;
        flex-direction      : column;
        width               : 2.7em;
        -webkit-user-select : none;
        padding             : 1em 0.5em;

        .b-line {
            justify-content : flex-end;
            align-items     : center;

            &:hover:after {
                color : #fff;
            }

            &.b-line-visible {
                display : flex !important;
            }

            input {
                height            : 1.5em;
                counter-increment : line;
                cursor            : pointer;
            }
        }

        .b-line {
            height : 1.5em;
        }

        .b-line:not(.hint):after {
            display           : flex;
            counter-increment : line;
            content           : counter(line);
            color             : rgba(255, 255, 255, 0.25);
            cursor            : pointer;
            justify-content   : flex-end;
        }
    }

    .b-codepanel-splitter {
        background : #305073;
        flex       : 0 0 0.4em;
    }

    .b-code-toolbar {
        display     : flex;
        padding     : .6em;
        background  : rgba(255, 255, 255, 0.1);
        color       : rgba(255, 255, 255, 0.5);
        overflow    : hidden;
        user-select : none;
        font-size   : 0.85em;
        align-items : center;

        :first-child {
            margin-left  : 0;
            margin-right : auto;
        }

        > * {
            cursor      : pointer;
            margin-left : 0.5em;
            padding     : 0.3em;
            white-space : nowrap;
        }

        > :hover {
            color : rgba(255, 255, 255, 0.8);
        }

        .b-line-count {
            min-width  : 5em;
            text-align : right;
        }

        .run {
            color : rgba(255, 255, 255, 0.8);

            &:hover {
                color : #fff;
            }
        }

        .b-fa-exclamation-triangle {
            display : none;
            color   : red;
        }

        .b-fa-circle-notch {
            display : none;
            margin  : 0;
        }
    }

    &.b-typing .b-fa-play:before {
        content : "ïŒ";
    }

    .b-codepanel-result {
        display          : flex;
        height           : 100%;
        width            : 50%;
        padding          : 3em;
        background-color : #000;
        background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAHlBMVEUAAABkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGSH0mEbAAAACnRSTlMAzDPDPPPYnGMw2CgMzQAAAChJREFUKM9jgAPOAgZMwGIwKkhXQSUY0BCCMxkEYUAsEM4cjI4fwYIAf2QMNbUsZjcAAAAASUVORK5CYII=');
        background-size  : 15px;
        overflow         : auto;
        position         : relative;

        > * {
            box-shadow : 0px 3px 10px #000;
        }

        // Error message
        &:after {
            position      : absolute;
            bottom        : 0;
            right         : 0;
            content       : attr(data-error);
            color         : red;
            background    : #000;
            padding       : 0.5em 1em;
            border-radius : 3px;
        }
    }

    @keyframes blink {
        0% {
            border : 0;
        }
        100% {
            border : 1px solid #fff;
        }
    }

    &.b-typing {
        pointer-events: none !important;

        .b-line:not(.b-current-line) {
            display : none;
        }
    }

    code * {
        transition : opacity 0.3s, color 0.2s;
    }

    code.b-typing > :not(.b-current) {
        opacity : 0.8;
    }

    code.b-idle:not(.b-started) .b-line:first-child:after {
        display   : block;
        position  : relative;
        content   : ' ';
        border    : 1px solid #fff;
        width     : 0.6em;
        height    : 1em;
        top       : 0.2em;
        animation : blink 1.2s infinite linear;
    }

    .b-current-line {
        display : block;

        i.b-icon {
            display         : inline-flex;
            padding         : 0;
            align-items     : center;
            line-height     : 1em;
            justify-content : center;
            margin-left     : 0.5em;
        }
    }

    .b-current-line *:not(i):not(.b-current) {
        display : none;
    }

    &:not(.b-loading) .b-current {
        opacity      : 1;
        border-right : 1px solid #fff;
    }

    .b-idle .b-current {
        border-left   : 0 !important;
        border-bottom : 0 !important;
        border-top    : 0 !important;
        animation     : blink 1.2s infinite linear;
    }

    .code-wrap,
    .b-codepanel-result {
        @media (max-width: 1000px) {
            min-height : 10%;
            max-height : 90%;
        }

        @media (min-width: 1000px) {
            min-width : 10%;
            max-width : 90%;
        }
    }

    @media (max-width : 600px) {
        .b-line-numbers {
            display : none;
        }
    }

    &.b-error .b-fa-exclamation-triangle,
    &.b-loading .b-fa-circle-notch {
        display : block;
    }

    &.b-error .b-codepanel-result > * {
        box-shadow : 0px 3px 10px red;
    }
}

@media (min-width : 1000px) {
    .code-wrap,
    .b-codepanel-result {
        height : 100%;
    }

    .b-codepanel-splitter {
        cursor : ew-resize;
    }
}

@media (max-width : 1000px) {
    .b-tutorialpanel {
        flex-direction : column;

        .b-codepanel-splitter {
            cursor : ns-resize;
        }

        .code-wrap,
        .b-codepanel-result {
            width : 100% !important;
        }
    }
}

